@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css');

body {
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
}

:root {
    --green: #6aaa64;
    --yellow: #c9b458;
    --gray: #c0c3c7;
    --darkGray: #656668;
    --white: #fff;
    --black: #212121;
    --orange: #eb7f48;
    --blue: #4ea6f8;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px solid var(--darkGray);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        font-size: 36px;
    }
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color: var(--white);
    z-index: 2;
    a {
        color: var(--black);
    }
}

main {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex: 1;
}

.game {
    margin: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin transition-color($color) {
    $animation-number: 0 !default !global;
    $animation-number: $animation-number + 1 !global;
    $name: unquote("animation-#{$animation-number}");
    animation-name: $name;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @at-root {
        @keyframes #{$name} {
            50% {
                border-color: transparent;
                background-color: var(--darkGray);
                color: var(--white);
            }
            60% {
                border-color: transparent;
                background-color: var(--darkGray);
                color: var(--white);
            }
            100% {
                border-color: transparent;
                background-color: $color;
                color: var(--white);
            }
        }
    }
}

.board {
    table {
        border-spacing: 4px;
        tr {
            height: 50px;
            td {
                flex: 1;
                width: 50px;
                box-sizing: border-box;
                border: 1px solid var(--gray);
                text-align: center;
                font-size: 18px;
                
                @for $i from 1 through 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: 100ms * $i;
                    }
                }
            }
        }    
    }
}

.answer.correct {
    @include transition-color(var(--green));
}
.answer.somewhere {
    @include transition-color(var(--yellow));
}
.answer.wrong {
    @include transition-color(var(--darkGray));
}

.solution {
    height: 100px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(2, 40px) 10px repeat(5, 40px);
    grid-template-rows: repeat(4, 40px);
    grid-gap: 10px;
    padding: 10px;

}

.key {
    font-size: 18px;
    background-color: var(--gray);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backspace {
    @extend .key;
    background-color: var(--orange);
    color: var(--white);
    font-family: "Libre Franklin", sans-serif;
}

.enter {
    @extend .key;
    background-color: var(--blue);
    color: var(--white);
    font-family: "Libre Franklin", sans-serif;
}

@keyframes drop-in {
    from {
        transform: translateY(-20);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.alert {
    color: var(--white);
    background-color: var(--orange);
    position: absolute;
    padding: 20px 50px;
    border-radius: 5px;
    top: 50px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    animation: drop-in 0.4s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.solved-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    animation: fade-in 0.4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solved-modal {
    width: 400px;
    height: 600px;
    background-color: var(--white);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
}